.favourites {
  min-width: 180px;
  width: 30%;
  border: 2px solid $colorPrincipal;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .listCards {
    flex-direction: column;
  }

  .card {
    display: flex;
    gap: 5px;

    .frameImage {
      min-width: 40%;
    }

    &__image {
      max-width: 100%;

    }

    &__title3 {
      min-width: 70px;
      flex: 1;
      font-size: 14px;
    }
  }

  .iconDelete {
    display: flex;
    align-items: center;
  }

  .button {
    align-self: center;
    margin-bottom: 10px;
  }
}