.container {
  padding: 0 10px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  color: $colorPrincipal;
  font-family: $font-main;
}

.viewCards {
  width: 100%;
  display: flex;
  gap: 10px;
  flex: 1;
}

.title2 {
  height: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  background-color: $colorSecondary;
}

.paragraph {
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.favouriteSelect {
  border: solid 4px $colorHighLight;
  border-radius: 5px;
}

.listCards {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.card {
  &__title3 {
    display: flex;
    align-items: center;
  }
}