.results {
  border: 2px solid $colorPrincipal;
  border-radius: 5px;
  flex: 1;
  display: flex;
  flex-direction: column;

  .listCards {
    flex-wrap: wrap;
    justify-content: center;
  }


  .card {
    width: 200px;
    display: flex;
    flex-direction: column;

    .frameImage {
      height: 250px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__image {
      max-width: 100%;
      max-height: 100%;
    }

    &__title3 {
      height: 60px;
      justify-content: center;
    }
  }
}